<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>
        投稿する
      </h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
  <div class="contaner2">
    <h2>
      画像を投稿する
    </h2>
  </div>
</div>